flowdesafiofca.json
[{"id":"fedaf6e2.3a3f1","type":"tab","label":"Flow Desafio 8","disabled":false,"info":""},{"id":"c9868582.373cf8","type":"inject","z":"fedaf6e2.3a3f1","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"o Argo é o pior carro, não tem muitos acessórios e consome muito combustível","payloadType":"str","x":150,"y":120,"wires":[["f608c146.b677f8"]]},{"id":"8fde61b5.d0ece8","type":"function","z":"fedaf6e2.3a3f1","name":"","func":"msg.payload = (msg.req.body.text ? msg.req.body.text : msg.payload);\nmsg.nlu_options = \n{\"entity_model\":\"6ec2942f-305d-4ff1-aa34-d2875af2f1b6\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":280,"wires":[["cb4a692f.5d9648"]]},{"id":"cb4a692f.5d9648","type":"natural-language-understanding","z":"fedaf6e2.3a3f1","name":"","categories":true,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://api.us-south.natural-language-understanding.watson.cloud.ibm.com/instances/76e4a16d-f320-43f2-a20b-e5f45533563d","x":800,"y":200,"wires":[["df69f117.080b7"]]},{"id":"4f919340.ead5cc","type":"http response","z":"fedaf6e2.3a3f1","name":"HTTP Response","statusCode":"","headers":{"content-type":"application/json"},"x":1640,"y":160,"wires":[]},{"id":"971547e9.95b008","type":"watson-speech-to-text","z":"fedaf6e2.3a3f1","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"VPK1tQwlJwiKf--kMEhbYWOPinVjxKn3BNZVQLGtHi-D","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/81b7a775-c280-4699-8a52-a26ac3c07653","x":560,"y":100,"wires":[["cf8fe776.76d8c8","8fde61b5.d0ece8"]]},{"id":"bda8e0.9480272","type":"http in","z":"fedaf6e2.3a3f1","name":"","url":"/pammfca","method":"post","upload":true,"swaggerDoc":"","x":80,"y":220,"wires":[["f608c146.b677f8","2513b680.f9e6da"]]},{"id":"cf8fe776.76d8c8","type":"debug","z":"fedaf6e2.3a3f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":40,"wires":[]},{"id":"f608c146.b677f8","type":"switch","z":"fedaf6e2.3a3f1","name":"Texto ou Áudio?","property":"req.files.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":200,"wires":[["f12b0d3b.6a861"],["8fde61b5.d0ece8"]]},{"id":"2513b680.f9e6da","type":"debug","z":"fedaf6e2.3a3f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":260,"y":300,"wires":[]},{"id":"f12b0d3b.6a861","type":"function","z":"fedaf6e2.3a3f1","name":"Pega o buffer","func":"msg.payload = msg.req.files[0].buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":40,"wires":[["971547e9.95b008"]]},{"id":"35629862.756bb8","type":"switch","z":"fedaf6e2.3a3f1","name":"","property":"features.sentiment.document.label","propertyType":"msg","rules":[{"t":"neq","v":"negative","vt":"str"},{"t":"eq","v":"negative","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":200,"wires":[["5303329d.8132ec"],["b0d20794.4c453"]]},{"id":"df69f117.080b7","type":"function","z":"fedaf6e2.3a3f1","name":"","func":"msg.payload = msg.features;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":200,"wires":[["35629862.756bb8","3fa0e965.1872a6"]]},{"id":"5303329d.8132ec","type":"function","z":"fedaf6e2.3a3f1","name":"Positivo","func":"var entidades = [];\nvar CarroRecomendacao = \"\";\n\n//Pega a resposta do NLU e coloca no Padrão de Retorno\nfor(i=0;i<msg.features.entities.length;i++){\n    \n    var objEntidades = {\n        entity: msg.features.entities[i].type,\n        sentiment: msg.features.entities[i].sentiment.score,\n        mention: msg.features.entities[i].text\n    };\n    \n    entidades[i]=objEntidades;\n    \n}\n\nvar resposta = {\n  recommendation: \"\",\n  entities : entidades\n};\n\nmsg.payload = resposta;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":100,"wires":[["4f919340.ead5cc"]]},{"id":"b0d20794.4c453","type":"function","z":"fedaf6e2.3a3f1","name":"Não positivo","func":"var entidades = [];\n\n//Pega a resposta do NLU e coloca no Padrão de Retorno\nfor(i=0;i<msg.features.entities.length;i++){\n    \n    var objEntidades = {\n        entity: msg.features.entities[i].type,\n        sentiment: msg.features.entities[i].sentiment.score,\n        mention: msg.features.entities[i].text\n    };\n    \n    entidades[i]=objEntidades;\n    \n}\n\nvar resposta = {\n  recommendation: \"TORO\",\n  entities : entidades\n};\n\nmsg.payload = resposta;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":240,"wires":[["4f919340.ead5cc","da40bb73.9577e"]]},{"id":"da40bb73.9577e","type":"debug","z":"fedaf6e2.3a3f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1590,"y":320,"wires":[]},{"id":"3fa0e965.1872a6","type":"debug","z":"fedaf6e2.3a3f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":300,"wires":[]}]